@import "normalize";
$primary-font: 'Source Sans Pro', sans-serif;
$brand-color: #41D4D9;
$mine: #333;

* {
  box-sizing: border-box !important;
}

html, body {
	height: 100%;
  font-family: $primary-font;
}

h1,h2,p {
  color: $mine;
}

h1 {
  font-size: 64px;
  font-weight: 400;
}

p {
  font-size: 22px;
  line-height: 1.4;
}

.well {
  width: 1%;
  background: $brand-color;
  height: 100vh;
  float: left;
  overflow: hidden;
}
.hero {
  padding: 36px;
  background: url('../img/hero2@2x.jpg') no-repeat center;
  opacity: .85;
  background-size: cover;
  width: 59%;
  height: 100vh;
  float: left;
  position: relative;
  .brand-bug {
    width: 245px;
    height: 245px;
    margin-bottom: 48px;
    position: absolute;
    left: 4%;
    top: 4%;
    .bug {
      background: url('../img/logo-bug@2x.png') no-repeat center;
      height: 100%;
      width: 100%;
      background-size: cover;
      box-shadow: 0 18px 52px rgba(0,0,0,.12);
      border-radius: 245px;
    }
  }
}

.content {
  padding: 36px;
  width: 40%;
  float: left;
  overflow: scroll;
  height: 100%;
  position: relative;
  .button {
    background: $brand-color;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    &:hover {
      background: blue;
    }
  }
  .link {
    display: block;
    color: $brand-color;
  }
}

//MAILCHIMP
#mc_embed_signup {
  // background: #fff;
  font-family: $primary-font;
  font-size: 20px;
  clear: left;
  // font: 14px Helvetica,Arial,sans-serif;
  input.button {
    background: $brand-color;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: .125s all ease-in-out;
    &:hover {
      background: darken($brand-color, 10%);
    }
  }
  label {
    display: block;
    font-weight: bold;
    margin: 24px 0 8px;
  }
  input.email {
    margin: 0 0 8px 0;
    padding: 8px 16px;
    outline: none;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    background: #f2f2f2;
    width: 100%;
    box-shadow: none 0;
    transition: .125s all ease-in-out;
    &:active, &:focus {
      background: #fff;
      border: 2px solid $brand-color;
      transition: .125 all ease-in-out;
    }
  }
}
footer {
  width: 100%;
  margin: 60px 0 16px 0;
}
footer ul {
  padding: 0;
  li {
    display: inline-block;
    text-align: center;
    margin: 4px 8px 4px 0;
    font-size: 16px;
    a {
      text-decoration: none;
      display: block;
      color: lighten($mine, 40%);
      transition: .125s all ease-in-out;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    // background: red;
  }
  h1 {
    font-size: 42px;
  }
  .hero, .content {
    width: 50%;
  }
  .well {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  body {
    // background: yellow;
  }
  h1 { font-size: 52px;}
  p { font-size: 18px;}
  .hero {
    width: 100%;
    height: 150px;
    .brand-bug {
      width: 150px;
      height: 150px;
    }
  }
  .content {
    width: 100%;
    overflow: visible;
  }
  .well {
    display: block;
    height: 16px;
    width: 100%;
  }
}


// Roating headline
.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content:'';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 2px;
  background-color: $mine;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: $mine;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
  font-style: normal;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
